Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
URxvt.scrollBar: false
URxvt.font:             xft:Source Code Pro for Powerline-10:pixelsize=21:hinting=True;antialias:True
URxvt.intensityStyles: false

!!URxvt.boldFont:             xft:Source Code Pro for Powerline-10:pixelsize=21:bold;hinting=True;antialias:True
!! URxvt.font: xft:DejaVu Sans Mono:pixelsize=21

! xterm

XTerm*font: xft:Source Code Pro for Powerline-10:pixelsize=17:hinting=True;antialias:True
! sync primary and main clipboards
XTerm*selectToClipboard: true
! double-click highlights words until blank text
XTerm*VT100.cutNewLine: false
XTerm*VT100.cutToBeginningOfLine: false
XTerm*VT100.charClass: 33:48,35:48,37:48,42:48,45-47:48,64:48,95:48,126:48



!xterm*dynamiccolors:      true
!xterm*utf8:               2
!xterm*geometry:           WINDOWGEOMETRY
!xterm*visualBell:         off
xterm*highlightSelection: true

!Baskerville - Count Von Count
*background:  #000000
*foreground:  #919191


! BLACK
*color0:      #303030
*color8:      #5E5E5E

! WHITE
*color7:      #C6C6C6
*color15:     #FFFFFF

! RED
*color1:      #C10023
*color9:      #FF8781

! YELLOW
*color3:      #B51D2C
*color11:     #FF948B

! GREEN
*color2:      #A83334
*color10:     #FFA095

! CYAN
*color6:      #9A413D
*color14:     #FFAAA0

! BLUE
*color4:      #8C4B46
*color12:     #FEB2AA

! MAGENTA
*color5:      #7D534F
*color13:     #EBBBB5

